[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
jupyter = "*"
pymc3 = "==3.8"
arviz = "==0.11.0"

[requires]
python_version = "3.6"
